body {
    background-color: #292929;
    font-family: Verdana;
    margin: 0;
}
header {
    background-color: #0D0D0D;
    background-image: url('sun.gif');
    background-attachment: fixed;
    background-position: center;
    padding: 60px 40px 30px 40px;
    text-align: center;
}
h1{
    color: white;
    font-size: 70px;
}
header img {
    border-radius: 350px;
    width: 250px;
    border: 10px solid #525252;
    background-attachment: fixed;
}
h2{
    color: white;
    font-size: 30px;
    text-align: center;
}
.content{
    max-width: 1500px;
    margin: 0 auto;
}
img.sun{
    height: 100px;
}
.content ul li{
    text-align: center;
    color: #a9a9a9;
}
.edu{
    background-color: #2f2f2f;
    border-radius: 10px;
    margin: 20px 300px;
}
.intrst {
    background-color: #2f2f2f;
    border-radius: 10px;
    margin: 20px 300px;
}
.intrst ul{
    display: inline;
}
.lang {
    background-color: #2f2f2f;
    border-radius: 10px;
    margin: 20px 300px;
}
.links {
    background-color: #2f2f2f;
    border-radius: 10px;
    margin: 20px 300px;
}
footer ul li{
    display: inline;
}